body {
  margin: auto;
  background-color: white;
  padding: 20px;
}
.wrapper {
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(11, auto);
}

header {
  grid-row: 1;
  grid-column: 1 / span 7;

  background-color: #99a880;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
}

header .logo {
  width: 250px;
  padding: 10px;
  padding-left: 40px;
}
.nav a {
  padding: 40px;
  font-size: medium;
  font-weight: bolder;
  color: white;
}

main {
  grid-row: 5 / span 7;
  grid-column: 1 / span 7;
}
/* 
.splide img {
  width: 1000px;
} */
.info {
  display: flex;
  justify-content: space-around;
}
.info img {
  width: 300px;
}
.om-mig {
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.sport-rehab {
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.kvinnor {
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

footer {
  grid-row: 8 span 9;
  grid-column: 1 / span 7;
  border-radius: 3px;
  background-color: #99a880;
  color: white;
}

.my-very-nice-splide-img {
  width: 100%;
}
