body {
  margin: auto;
  background-color: white;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(11, auto);
}

header {
  grid-row: 1;
  grid-column: 1 / span 7;

  background-color: #99a880;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
}
.nav a {
  text-decoration: none;
}
header .logo {
  width: 250px;
  padding: 10px;
  padding-left: 40px;
}
.nav a {
  padding: 40px;
  font-size: medium;
  font-weight: bolder;
  color: white;
}

main {
  grid-row: 5 / span 7;
  grid-column: 1 / span 7;
}
/* 
.splide img {
  width: 1000px;
} */
.info {
  display: flex;
  justify-content: space-around;
}
.info img {
  height: 500px;
  object-fit: cover;
  object-position: 50% 25%;
}

.rehab {
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  min-width: 300px;
  max-width: 700px;
  box-shadow: -1px 8px 19px -6px rgba(41, 38, 38, 0.75);
  -webkit-box-shadow: -1px 8px 19px -6px rgba(41, 38, 38, 0.75);
  -moz-box-shadow: -1px 8px 19px -6px rgba(41, 38, 38, 0.75);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rehab-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.button {
  width: 150px;
  height: 43px;
  border-radius: 20px;
  background-color: #99a880;
  color: white;
  border: none;
  align-self: flex-end;
}

footer {
  grid-row: 8 span 9;
  grid-column: 1 / span 7;
  border-radius: 3px;
  background-color: #99a880;
  color: white;
}

.contact-info {
  display: flex;
  padding-bottom: 20px;
}
.contact h2 {
  padding-left: 20px;
  padding-top: 10px;
}
.contact-info .adress h3 {
  padding-left: 36px;
}
.contact-info .telefon h3 {
  padding-left: 36px;
}
li {
  list-style-type: none;
}
.my-very-nice-splide-img {
  width: 100%;
}
